# LEZIONE 13

**Utilizzo dei database e SQL**

***13.1 Cos’è un database?***

Un database è un file progettato per la conservazione di dati. La maggior parte dei database è organizzata come un dizionario, nel senso che viene creata una **correlazione tra chiavi e valori**. La differenza principale è che il database è conservato su disco (o su altro tipo di memoria permanente), per questo i dati permangono anche quando il programma viene chiuso. Inoltre **il fatto che un database sia archiviato in una memoria permanente permette di conservare molti più dati rispetto ad un
dizionario** che è limitato dalle dimensioni della memoria nel computer.
Come un dizionario, il database è stato progettato per garantire un’elevata velocità d’inserimento e di accesso ai dati, anche per grandi quantità degli stessi. Il software del database mantiene le sue prestazioni aggiornando gli indici durante l’inserimento di nuovi dati in modo da consentire al computer di accedere rapidamente a una determinata voce.

Esistono diversi sistemi di database che vengono utilizzati per una vasta gamma di scopi, tra cui:
- *Oracle*
- *MySQL*
- *Microsoft SQL Server*
- *PostgreSQL*
- *SQLite*

Ci concentreremo su SQLite, perché già integrato in Python. SQLite è progettato per essere integrato in altre applicazioni per fornire supporto nella gestione dei dati. Ad esempio anche il browser Firefox utilizza internamente il database SQLite in modo simile a molti altri prodotti.

SQLite (http://sqlite.org/) si adatta bene ad alcuni dei problemi di manipolazione dei dati che incontriamo in informatica.

***13.2 DB Browser per SQLite***

Seppure questo capitolo si concentri sull’uso di Python per la manipolazione di dati contenuti in database SQLite, molte operazioni possono essere fatte più agevolmente utilizzando un software chiamato DB Browser per SQLite, liberamente scaricabile da: http://sqlitebrowser.org/

Utilizzando questo programma è possibile creare facilmente tabelle, inserire dati, modificare dati o eseguire semplici query SQL. In un certo senso, il comportamento del Database Browser è simile a quello di un editor di testo. Quando vogliamo eseguire una o poche operazioni su un file di testo, è sufficiente aprirlo in un editor e apportare le modifiche desiderate. Se dobbiamo eseguire molte modifiche in un file di
testo, è meglio scrivere un semplice programma in Python.

Lo stesso modello si applica al lavoro con i database. Svolgeremo le operazioni più semplici nel gestore di database, mentre quelle più complesse saranno eseguite più comodamente tramite Python.

***13.3 Creazione di una tabella***

I database richiedono una struttura più definita rispetto agli elenchi o ai dizionari Python. Quando creiamo una tabella nel database dobbiamo comunicare in anticipo al database i nomi di ciascuna delle colonne nella tabella e il tipo di dati che stiamo pianificando di memorizzare in ognuna di esse. Siccome il database è a conoscenza del tipo di dati presente in ogni colonna, può scegliere il modo più efficiente per archiviarli e ricercarli.

Per conoscere i vari tipi di dati supportati da SQLite potete consultare il seguente indirizzo: http://www.sqlite.org/datatypes.html

Definire fin dall’inizio la struttura dei nostri dati può sembrare scomodo nei primi tempi, ma il vantaggio è un accesso veloce anche quando il database conterrà una grande quantità di dati.

Il codice necessario per creare un database composto da una tabella denominata *Tracks* impostata su due colonne nel database è il seguente (copiamo e incolliamo in un file py):

In [1]:
import sqlite3

conn = sqlite3.connect('music.sqlite')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Tracks')
cur.execute('CREATE TABLE Tracks (title TEXT, plays INTEGER)')

conn.close()

L’operazione `connect` effettua una *connessione* al database memorizzato nel file `music.sqlite3` nella cartella corrente. Se il file non esiste, verrà creato. Il motivo per cui si chiama "connessione" è che a volte il database è memorizzato su un server separato dalla macchina su cui stiamo eseguendo la nostra applicazione. Nei nostri semplici esempi il database sarà sempre un file locale nella stessa directory del codice Python che stiamo eseguendo.

**Un cursore è come un file handler** che possiamo usare per eseguire operazioni sui dati memorizzati nel database. Richiamare il metodo `cursor()` è concettualmente molto simile a richiamare il metodo `open()` quando si tratta di un file di testo.

Una volta ottenuto il cursore, possiamo iniziare a eseguire comandi sui contenuti del database usando il metodo `execute()`. I comandi del database sono espressi in un linguaggio speciale che è stato standardizzato da molti diversi fornitori di database per permetterci di imparare un solo linguaggio per database.

Il linguaggio del database è chiamato Structured Query Language, in breve *SQL*. http://en.wikipedia.org/wiki/SQL
Nel nostro esempio, stiamo eseguendo due comandi SQL nel nostro database.

**Per convenzione, mostreremo le parole chiave SQL in maiuscolo e le parti del comando che stiamo aggiungendo** (come i nomi di tabelle e colonne) **in minuscolo**.
- Il primo comando SQL rimuove la tabella `Tracks` dal database, se esiste.
  - Questo schema serve semplicemente a permetterci di eseguire lo stesso programma per creare la tabella Tracks più e più volte senza causare errori. Notare che **il comando `DROP TABLE` cancella la tabella e tutti i dati da lei contenuti dal database in maniera irreversibile (in altri termini, non è possibile premere il tasto “annulla”)**.
- Il secondo comando crea una tabella chiamata `Tracks` con
  - una colonna di testo chiamata `title`
  - una colonna con dati numerici interi chiamata `plays`.

Ora che abbiamo creato una tabella chiamata `Tracks`, possiamo inserirvi alcuni dati usando l’operatore SQL `INSERT`.

Di nuovo, iniziamo effettuando una connessione al database e ottenendo il cursore. Possiamo quindi eseguire comandi SQL usando il cursore.

Il comando SQL `INSERT` indica quale tabella stiamo usando e quindi definisce una nuova riga elencando i campi che vogliamo includere (`title, plays`) seguito dal `VALUES` che vogliamo sia inserito nella nuova riga. **Indichiamo i valori con punti interrogativi** `(?,?)` **per indicare che i valori effettivi vengono passati come una tupla** `('My Way', 15)` come secondo parametro della chiamata execute().

...creiamo un secondo script...

In [ ]:
import sqlite3

conn = sqlite3.connect('music.sqlite')
cur = conn.cursor()

cur.execute('INSERT INTO Tracks (title, plays) VALUES (?, ?)', ('Thunderstruck', 20))
cur.execute('INSERT INTO Tracks (title, plays) VALUES (?, ?)', ('My Way', 15))
conn.commit()

print('Tracks:')
cur.execute('SELECT title, plays FROM Tracks')
for row in cur:
  print(row)

cur.execute('DELETE FROM Tracks WHERE plays < 100')
conn.commit()

cur.close()

Verifichiamo tramite DB Browser il risultato del nostro script; cosa troviamo sul DB?

Cosa fa lo script:
- Per prima cosa inseriamo due righe nella nostra tabella e usiamo `commit()` per effettuare la scrittura dei dati nel file di database.
- Quindi usiamo il comando `SELECT` per recuperare le righe che abbiamo appena inserito dalla tabella.
  - Nel comando `SELECT`, indichiamo quali colonne selezionare (*title*, *plays*) e indichiamo da quale tabella vogliamo recuperare i dati. Dopo
aver eseguito l’istruzione `SELECT`, è possibile far scorrere il cursore con un’istruzione for.

Per migliorare l’efficienza, **il cursore non legge tutti i dati dal database quando eseguiamo l’istruzione SELECT**. I dati vengono invece letti su richiesta mentre scorriamo le righe con l’istruzione for.

Il nostro ciclo for trova due righe, e **ogni riga è una *tupla* con il primo valore come title e il secondo valore come numero di plays**.

Alla fine del programma, eseguiamo un comando SQL per *cancellare* le
righe che abbiamo appena creato in modo da poterlo rieseguire più volte. Il comando `DELETE` contiene l’uso di una clausola `WHERE` che ci consente di applicare un criterio di selezione in modo da poter chiedere al database di applicare il comando solo alle righe che rispettano il criterio. In questo esempio il criterio si applica a tutte le righe, quindi svuotiamo la tabella in modo da essere in grado di eseguire il programma ripetutamente. Dopo aver eseguito `DELETE`, chiamiamo anche `commit()` per rendere effettiva la rimozione dei dati dal database.

***13.4  Tabelle Relazionate***

In un database relazionale, possiamo creare tabelle separate per diversi tipi di dati e collegarle tra loro usando chiavi esterne. Questo approccio migliora l'organizzazione e l'integrità dei dati.

**Creazione della Tabella Artists**

La tabella Artists conterrà informazioni sugli artisti.

```
cur.execute('''CREATE TABLE IF NOT EXISTS Artists (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT UNIQUE)''')
```

**Creazione della Tabella Albums**

La tabella Albums conterrà informazioni sugli album e avrà una chiave esterna che fa riferimento alla tabella Artists.
```
cur.execute('''
CREATE TABLE IF NOT EXISTS Albums (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    artist_id INTEGER,
    title TEXT UNIQUE,
    FOREIGN KEY (artist_id) REFERENCES Artists(id)
)
''')
```

**Creazione della Tabella Tracks**

La tabella Tracks conterrà informazioni sulle tracce e avrà una chiave esterna che fa riferimento alla tabella Albums.
```
cur.execute('''
CREATE TABLE IF NOT EXISTS Tracks (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    album_id INTEGER,
    title TEXT UNIQUE,
    plays INTEGER,
    FOREIGN KEY (album_id) REFERENCES Albums(id)
)
''')
```

**Inserimento di Dati**

Ora possiamo inserire dati nelle tabelle rispettando le relazioni tra di esse.
```
# Inserimento di un artista
cur.execute('INSERT INTO Artists (name) VALUES (?)', ('AC/DC',))
artist_id = cur.lastrowid

# Inserimento di un album
cur.execute('INSERT INTO Albums (artist_id, title) VALUES (?, ?)', (artist_id, 'Back in Black'))
album_id = cur.lastrowid

# Inserimento di tracce
cur.execute('INSERT INTO Tracks (album_id, title, plays) VALUES (?, ?, ?)', (album_id, 'Hells Bells', 30))
cur.execute('INSERT INTO Tracks (album_id, title, plays) VALUES (?, ?, ?)', (album_id, 'Shoot to Thrill', 25))
conn.commit()
```

**Selezione e Stampa dei Dati**

Possiamo eseguire query che uniscono le tabelle per ottenere informazioni complete.
```
cur.execute('''
SELECT Artists.name, Albums.title, Tracks.title, Tracks.plays
FROM Artists
JOIN Albums ON Artists.id = Albums.artist_id
JOIN Tracks ON Albums.id = Tracks.album_id
''')
for row in cur:
    print(row)
```